.alert {
    background-color: $amber;
    border: none;
    border-left: $alert-border-width solid $amber-deep;
    color: darken($amber, 70);

    & > .close {
        box-shadow: none;
    }
}

.alert.error {
    border-left: $alert-border-width solid $red-deep;

    & > .close:focus {
        outline-color: $selection-focus-color-alt;
    }
}

.alert.success {
    border-left: $alert-border-width solid $green-deep;
}

.alert.info {
    border-left: $alert-border-width solid $blue-deep;
}
