button,
input[type="submit"],
input[type="button"],
input[type="reset"] {
    @extend %box-shadow;
    @extend %border-radius;
    background-color: $button-background;
    color: $button-color;
    border: $button-border;

    &:hover {
        background-color: darken($button-background, 5);
    }

    &:active {
        background-color: lighten($button-background, 5);
    }

    &[disabled] {
        background-color: lighten($button-background, 5);
    }


    &.error {
        background-color: $red;

        &:hover {
            background-color: darken($red, 5);
        }

        &:active {
            background-color: lighten($red, 5);
        }

        &[disabled] {
            background-color: lighten($red, 5);
        }
    }

    &.success {
        background-color: $green;

        &:hover {
            background-color: darken($green, 5);
        }

        &:active {
            background-color: lighten($green, 5);
        }

        &[disabled] {
            background-color: lighten($green, 5);
        }
    }

    .btn-group > & {
        border-radius: 0;
        box-shadow: none;
    }
}

// Remove borders when joined to inputs
html:not([dir=rtl]) .input-group-addon:first-child > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

html:not([dir=rtl]) .input-group-addon:last-child > * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

[dir=rtl] .input-group-addon:first-child > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

[dir=rtl] .input-group-addon:last-child > * {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group {
    @extend %box-shadow;
    @extend %border-radius;
    overflow: hidden;
}
