pre, code, samp, kbd {
    @extend %border-radius;
    font-family: $code-font-family;
}

pre, kbd,
code > kbd {
    @extend %box-shadow;
    background-color: $code-background-color;
    color: $code-color;
    border: none;
}

pre {
    & code, & samp {
        background-color: transparent;
        color: $code-color;
        box-shadow: none;
        border: none;
    }

    & kbd {
        background-color: $code-background-color-alt;
        color: $code-color-alt;
        border: 1px solid $code-border-color;
    }
}
