// Select
// 1. Strip default appearence
// 2. Add a select indicator
// 3. Remove for multiple
// 4. Remove Firefox inner focus ring
// 5. Hide the arrow in IE10+
select {
    appearance: none; // 1
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMC41Ij48cG9seWdvbiBmaWxsPSIjMjIyIiBwb2ludHM9IjExLDAgNS41LDkgMCwwIi8+PC9zdmc+'); // 2
    background-repeat: no-repeat;
    background-position: right .6rem center;
    padding-right: 1.67rem;

    [dir=rtl] & {
        background-position: .6rem center;
        padding-right: 0;
        padding-left: 1.67rem;
    }

    &[multiple] {
        background-image: none; // 3
        padding-left: 0;
        padding-right: 0;
    }

    &:focus:-moz-focusring {
        color: transparent; // 4
        text-shadow: 0 0 0 #000;
    }

    &::-ms-expand {
        display: none; // 5
    }
}

// Remove for IE9
@media screen and (min-width:0\0) {
    select {
        padding-right: $form-input-padding;

        [dir=rtl] & {
            padding-left: $form-input-padding;
        }
    }
}

// 1: Re-add styles. TODO: Find better way.
_::-ms-reveal, select {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMSIgaGVpZ2h0PSIxMC41Ij48cG9seWdvbiBmaWxsPSIjMjIyIiBwb2ludHM9IjExLDAgNS41LDkgMCwwIi8+PC9zdmc+'); // 1
    padding-right: 1.67rem;

    [dir=rtl] & {
        background-position: .6rem center;
        padding-right: 0;
        padding-left: 1.67rem;
    }
}

.supplement {
    background: $form-supplement-background;
    border-color: $form-supplement-background;
    color: $form-supplement-color;

    _::-ms-reveal,
    & > input[type='radio'] {
        background-color: $form-supplement-background;
    }
}
