.error {
    background-color: $red;
    color: lighten($red, 70);
}

.success {
    background-color: $green;
    color: lighten($green, 70);
}

.info {
    background-color: $blue;
    color: lighten($blue, 70);
}

.warning {
    background-color: $amber;
    color: darken($amber, 70);
}
